In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("train.csv", index_col="id")

In [3]:
df["I"]=df["Sex"].apply(lambda x: 1 if x=="I" else 0)
df["M"]=df["Sex"].apply(lambda x: 1 if x=="M" else 0)
df["F"]=df["Sex"].apply(lambda x: 1 if x=="F" else 0)
df.drop("Sex",axis=1,inplace=True)

In [7]:
rows_to_remove = np.array([], dtype=int)
for col in df.columns[:7]:
    Q1 = df[col].quantile(0.20)
    Q3 = df[col].quantile(0.85)
    IQR = Q3 - Q1
    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR
    mask_upper = df[col] >= upper
    mask_lower = df[col] <= lower
    if (mask_upper.sum() < 50) and (mask_lower.sum() < 50):
        rows_to_remove = np.concatenate((rows_to_remove, np.where(mask_upper | mask_lower)[0]))
    else:
        print(f"over 50: {col}")
df = df.drop(index=rows_to_remove)

# scaling

In [8]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [9]:
df.columns

Index(['Length', 'Diameter', 'Height', 'Weight', 'Shucked Weight',
       'Viscera Weight', 'Shell Weight', 'Age', 'I', 'M', 'F'],
      dtype='object')

In [10]:
X = df.drop("Age", axis=1)
y = df["Age"]

In [11]:
scal_col=["Length","Diameter","Height","Weight","Shucked Weight","Viscera Weight","Shell Weight"]

In [12]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X[scal_col])
X[scal_col]=X_scaled

In [13]:
X.head(1)

,Length,Diameter,Height,Weight,Shucked Weight,Viscera Weight,Shell Weight,I,M,F
id,,,,,,,,,,
0,0.723536,0.635827,0.297541,0.445884,0.471832,0.573015,0.458777,1,0,0

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=1)

Some basic test model

In [17]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn import tree
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_absolute_error as mae
from sklearn.metrics import r2_score
from sklearn import tree
from sklearn.model_selection import cross_val_score, KFold
from sklearn.model_selection import GridSearchCV
from tensorflow.keras import models
from tensorflow.keras.layers import Dense
from sklearn.model_selection import train_test_split

In [ ]:
from tensorflow.keras import models
from tensorflow.keras.layers import Dense
from sklearn.model_selection import train_test_split

In [18]:
X_train.head(1)

,Length,Diameter,Height,Weight,Shucked Weight,Viscera Weight,Shell Weight,I,M,F
id,,,,,,,,,,
67545,0.81078,0.794423,0.987784,0.889818,0.900847,0.914586,0.80932,0,1,0

In [ ]:
keras.backend.clear_session()

In [4]:
model = models.Sequential()
model.add(Dense(4, activation="tanh", input_shape=(X.shape[1],)))
model.add(Dense(12, activation = "tanh"))
model.add(Dense(24, activation = "tanh"))
model.add(Dense(36, activation = "tanh"))
model.add(Dense(64, activation = "tanh"))
model.add(Dense(24, activation = "tanh"))
model.add(Dense(12, activation = "tanh"))
model.add(Dense(4, activation = "tanh"))
model.add(Dense(units = 1)) 
model.compile(
    optimizer="nadam",
    loss="mean_absolute_error",
    metrics=["mean_absolute_error"]
)
model.fit(X_train, y_train, batch_size=400, epochs=400)

NameError: name 'models' is not defined

In [20]:
preds = model.predict(X_test)

In [21]:
for i in range(len(preds)):
    if -0.4 < (np.round(preds[i], 2)- np.round(preds[i], 0)) <0.4:
        preds[i]=np.round(preds[i], 0)

In [22]:
mae(y_test, preds)

1.3608481576303384

In [ ]:
model.summary()

In [ ]:
# dences(4- tanh,12- tanh,24- tanh,36-tanh,64 - tanh,24 - tanh ,12- tanh,4- tanh,2- tanh), opti = "nadam"

In [ ]:
model = models.Sequential()
model.add(Dense(4, activation="tanh", input_shape=(X.shape[1],)))
model.add(Dense(12, activation = "tanh"))
model.add(Dense(24, activation = "tanh"))
model.add(Dense(36, activation = "relu"))
model.add(Dense(64, activation = "relu"))
model.add(Dense(24, activation = "relu"))
model.add(Dense(12, activation = "tanh"))
model.add(Dense(4, activation = "tanh"))
model.add(Dense(2, activation = "tanh"))
model.add(Dense(units = 1)) 
model.compile(
    optimizer="nadam",
    loss="mean_absolute_error",
)
model.fit(X_train, y_train, batch_size=400, epochs=400)

In [ ]:
preds = model.predict(X_test)
for i in range(len(preds)):
    if -0.4 < (np.round(preds[i], 2)- np.round(preds[i], 0)) <0.4:
        preds[i]=np.round(preds[i], 0)
mae(y_test, preds)

In [ ]:
X_test.head(1)

In [23]:
import tensorflow as tf

In [24]:
sess = tf.Session(config=tf.ConfigProto(log_device_placement=True))

AttributeError: module 'tensorflow' has no attribute 'Session'

In [ ]:
res1_scaled=results

Koniec Wyników

In [ ]:
test = pd.read_csv("test.csv", index_col="id")

In [ ]:
test["I"]=test["Sex"].apply(lambda x: 1 if x=="I" else 0)
test["M"]=test["Sex"].apply(lambda x: 1 if x=="M" else 0)
test["F"]=test["Sex"].apply(lambda x: 1 if x=="F" else 0)
test.drop("Sex",axis=1,inplace=True)

In [ ]:
scal_col=["Length","Diameter","Height","Weight","Shucked Weight","Viscera Weight","Shell Weight"]

In [ ]:
Test_scaled = scaler.transform(test[scal_col])
test[scal_col]=Test_scaled

In [ ]:
test.head(1)

In [ ]:
ver1_preds=model.predict(test)

In [ ]:
for i in range(len(ver1_preds)):
    if -0.4 < (np.round(ver1_preds[i], 2)- np.round(ver1_preds[i], 0)) <0.4:
        ver1_preds[i]=np.round(ver1_preds[i], 0)

In [ ]:
ver1_preds

In [ ]:
ver1 = pd.DataFrame(index=test.index, data= ver1_preds)

In [ ]:
ver1.columns=["Age"]

In [ ]:
ver1.head(1)

In [ ]:
ver1.to_csv('versionone.csv')

In [ ]:
testeedd = pd.read_csv('versionone.csv', index_col="id")
testeedd