In [9]:
sample_list = [1, 2, 3, 4, 5]

for idx, element in enumerate(sample_list):
    element +=1
    sample_list[idx] = element

print(sample_list)

[2, 3, 4, 5, 6]

In [1]:
import ssl

ssl._create_default_https_context = ssl._create_unverified_context

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.tree import plot_tree

from sklearn.model_selection import train_test_split
# Regression
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.metrics import mean_absolute_error, r2_score, mean_squared_error
# Clasification
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import f1_score, precision_score, accuracy_score
# Best_searches
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
# Standarization
from sklearn.preprocessing import StandardScaler

from keras import models
from keras.layers import Dense

In [2]:
df_train = pd.read_csv('https://raw.githubusercontent.com/Mateusz-Matejko/kaggle/main/projects/competition-clasification-binary-of-machine-failures/data/train.csv', encoding='utf8')
df_test = pd.read_csv('https://raw.githubusercontent.com/Mateusz-Matejko/kaggle/main/projects/competition-clasification-binary-of-machine-failures/data/test.csv', encoding='utf8')
df_final = pd.read_csv('https://raw.githubusercontent.com/Mateusz-Matejko/kaggle/main/projects/competition-clasification-binary-of-machine-failures/data/sample_submission.csv', encoding='utf8')

In [3]:
df_train.describe()

,id,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
count,136429.000000,136429.000000,136429.000000,136429.000000,136429.000000,136429.000000,136429.000000,136429.000000,136429.000000,136429.000000,136429.000000,136429.000000
mean,68214.000000,299.862776,309.941070,1520.331110,40.348643,104.408901,0.015744,0.001554,0.005160,0.002397,0.003958,0.002258
std,39383.804275,1.862247,1.385173,138.736632,8.502229,63.965040,0.124486,0.039389,0.071649,0.048899,0.062789,0.047461
min,0.000000,295.300000,305.800000,1181.000000,3.800000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,34107.000000,298.300000,308.700000,1432.000000,34.600000,48.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,68214.000000,300.000000,310.000000,1493.000000,40.400000,106.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,102321.000000,301.200000,310.900000,1580.000000,46.100000,159.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,136428.000000,304.400000,313.800000,2886.000000,76.600000,253.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [4]:
df_test[df_test['PWF'] != 0]

,id,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],TWF,HDF,PWF,OSF,RNF
405,136834,L47380,L,298.4,308.6,2636,12.8,103,0,0,1,0,0
576,137005,L56355,L,297.9,309.0,1403,64.2,0,0,0,1,0,0
950,137379,L49935,L,299.7,309.3,1478,38.8,8,0,0,1,0,0
1570,137999,L55609,L,299.0,310.4,2861,4.6,92,0,0,1,0,0
2653,139082,L53074,L,301.2,311.0,1267,69.3,164,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
86883,223312,M20301,M,303.0,312.6,1363,62.9,119,0,0,1,0,0
87045,223474,L49512,L,299.2,308.5,2232,15.9,220,0,0,1,0,0
89247,225676,M18633,M,302.4,311.1,2659,10.8,139,0,0,1,0,0
90239,226668,L51961,L,303.4,311.7,1374,63.7,121,0,0,1,0,0
90665,227094,M18884,M,302.1,311.0,1479,60.3,31,0,0,1,0,0

In [5]:
df_train.shape

(136429, 14)

In [6]:
df_train[df_train['Machine failure'] != 0].shape

(2148, 14)

## Opis danych: 

id - 
    Wiemy o co chodzi
    
Podcut ID - 
    Pomysły: Zmapować konkretny produkt id, jako taki z dużą lub małą szansą na uszkodzenie. 
    
### Zrobione 
Type - ( H, M, L )(High, Medium, Low) - 
    Im wyższy tym mniejsza szansa na uszkodzenie i większa tolerancja na długotrwałą pracę


Air temparture - temperatura powietrza
    zakres: 295 - 304 stopnie, median 300
    Różnica między tą temperaturą a temperaturą procesu może wskazywać na przegrzewanie.
    
### Zrobione
<i>Pomysły: Zakodować różnicę między temperaturami.</i>
    
Process temperature - temperatura pracy
    zakres 305 - 314, median 310.
    Pomysły: Sprawdzić zależność między awariami a tą temperaturą, DLA WSZYSTKICH TYPU AWARII

### Zrobione 
<i> Note: ZAPYTAĆ KACPRA CZY WARTO SPRAWDZIĆ TO NA WARUNKU + 0.5C </i>
<i>Jeżeli Air Temprature będzie równe Process temp lub większe, użądzenie nie będzie się w stanie schłodzić i się nagrzeje.</i> 

### In progress
Rotational speed rpm - prędkość rotacji/obrotu
    zakres 1181 - 2886, 996 unikalnych
    Pomysł: Porównać z Tool Wear 
    
Torque Nm - Moment obrotowy 
    Pomysł: użyć wzór, spróbować oszacować błąd. Power (kW) = Torque (N.m) x Speed (RPM) z TWF
    Możliwe: powiązanie OSF
    
Tool wear - Czas sesji użycia narzędzia
    Zakres 0 - 253
    Pomysł: Im większy tool wear, może powodować awarie
    
Typy awarii:
    TWF - Zużycie
    HDF - Przegrzanie
    PWF - Za mała moc
    OSF - Przeciążenie mechaniczne
    RNF - Losowe
    Pomysły: Zobaczyć zależności pomiędzy tymi typami awarii i dokładnie je zbadać.
    
Zbadać: outliersy dlaczego min czas sesji = 0

In [7]:
df_train.describe(include='all')

,id,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
count,136429.000000,136429,136429,136429.000000,136429.000000,136429.000000,136429.000000,136429.000000,136429.000000,136429.000000,136429.000000,136429.000000,136429.000000,136429.000000
unique,NaN,9976,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,L53257,L,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,139,95354,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,68214.000000,NaN,NaN,299.862776,309.941070,1520.331110,40.348643,104.408901,0.015744,0.001554,0.005160,0.002397,0.003958,0.002258
std,39383.804275,NaN,NaN,1.862247,1.385173,138.736632,8.502229,63.965040,0.124486,0.039389,0.071649,0.048899,0.062789,0.047461
min,0.000000,NaN,NaN,295.300000,305.800000,1181.000000,3.800000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,34107.000000,NaN,NaN,298.300000,308.700000,1432.000000,34.600000,48.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,68214.000000,NaN,NaN,300.000000,310.000000,1493.000000,40.400000,106.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,102321.000000,NaN,NaN,301.200000,310.900000,1580.000000,46.100000,159.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,136428.000000,NaN,NaN,304.400000,313.800000,2886.000000,76.600000,253.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [16]:
df_train.isnull().sum().sum()

0

### Power (kW) = Torque (N.m) x Speed (RPM)

## Get to know your data

In [9]:
df_train['Product ID'].unique().shape #(9976,)
df_train['Type'].unique() #array(['L', 'M', 'H'], dtype=object)
df_train['Air temperature [K]'] #(95,)
df_train['Process temperature [K]'].unique().shape #(81,)
df_train['Tool wear [min]'].unique().shape #(246,)
df_train['Rotational speed [rpm]'].unique().shape #(952,)
df_train['Torque [Nm]'].unique().shape #(611,)
df_train['Tool wear [min]'].unique().shape #(246,)

(246,)

In [10]:
# Dataset shape
print(df_train.shape, "\n") # (74051, 10)

# Find out any Null values
df_train.isnull().sum() # 0 null values

(136429, 14)

id                         0
Product ID                 0
Type                       0
Air temperature [K]        0
Process temperature [K]    0
Rotational speed [rpm]     0
Torque [Nm]                0
Tool wear [min]            0
Machine failure            0
TWF                        0
HDF                        0
PWF                        0
OSF                        0
RNF                        0
dtype: int64

In [11]:
df_train.head()

,id,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,0,L50096,L,300.6,309.6,1596,36.1,140,0,0,0,0,0,0
1,1,M20343,M,302.6,312.1,1759,29.1,200,0,0,0,0,0,0
2,2,L49454,L,299.3,308.5,1805,26.5,25,0,0,0,0,0,0
3,3,L53355,L,301.0,310.9,1524,44.3,197,0,0,0,0,0,0
4,4,M24050,M,298.0,309.0,1641,35.4,34,0,0,0,0,0,0

In [12]:
df_train.groupby('Type')['Machine failure'].mean()

Type
H    0.013000
L    0.016727
M    0.013592
Name: Machine failure, dtype: float64

In [13]:
type_dict = {
    'H': 0.013000,
    'M': 0.013592,
    'L': 0.016727
}

<i>Jeżeli Air Temprature będzie równe Process temp lub większe, użądzenie nie będzie się w stanie schłodzić i się nagrzeje.</i>

1. Potrzebne dane:
    - Air temprature = 6
    - Process temperature = 4
2. Porównanie:
    -

In [81]:
df_train = pd.read_csv('https://raw.githubusercontent.com/Mateusz-Matejko/kaggle/main/projects/competition-clasification-binary-of-machine-failures/data/train.csv', encoding='utf8')

def process_data(df:pd.DataFrame):
    df['Power [KW]'] = df['Torque [Nm]'] * df['Rotational speed [rpm]']
    df['Type'] = df['Type'].map(type_dict)
    df['Air temperature [C]'] = df['Air temperature [K]'] - 272.15
    df['Process temperature [C]'] = df['Process temperature [K]'] - 272.15
    df = df.drop(labels=['Air temperature [K]', 'Process temperature [K]'], axis=1)
    print(df.columns)
    df['Possbile_overheating'] = (df['Air temperature [C]'] >= df['Process temperature [C]']) #possibly add sth to C value
    df['Temperature difference'] = df['Process temperature [C]'] - df['Air temperature [C]']

    return df

In [82]:
df_train=process_data(df_train)

Index(['id', 'Product ID', 'Type', 'Rotational speed [rpm]', 'Torque [Nm]',
       'Tool wear [min]', 'Machine failure', 'TWF', 'HDF', 'PWF', 'OSF', 'RNF',
       'Power [KW]', 'Air temperature [C]', 'Process temperature [C]'],
      dtype='object')

In [83]:
df_train.head()

,id,Product ID,Type,Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF,Power [KW],Air temperature [C],Process temperature [C],Possbile_overheating,Temperature difference
0,0,L50096,0.016727,1596,36.1,140,0,0,0,0,0,0,57615.6,28.45,37.45,False,9.0
1,1,M20343,0.013592,1759,29.1,200,0,0,0,0,0,0,51186.9,30.45,39.95,False,9.5
2,2,L49454,0.016727,1805,26.5,25,0,0,0,0,0,0,47832.5,27.15,36.35,False,9.2
3,3,L53355,0.016727,1524,44.3,197,0,0,0,0,0,0,67513.2,28.85,38.75,False,9.9
4,4,M24050,0.013592,1641,35.4,34,0,0,0,0,0,0,58091.4,25.85,36.85,False,11.0

In [106]:
pd.DataFrame(index=[df_train.groupby('Tool wear [min]')['Machine failure']])

Empty DataFrame
Columns: []
Index: [((0, 18        0
27        0
91        0
92        0
93        0
         ..
136285    0
136302    0
136348    0
136361    0
136379    0
Name: Machine failure, Length: 3790, dtype: int64), (2, 26        0
153       0
187       0
191       0
276       0
         ..
136175    0
136228    0
136281    0
136363    0
136425    0
Name: Machine failure, Length: 1771, dtype: int64), (3, 181       0
288       0
1486      0
1577      0
2477      0
         ..
133514    0
135611    0
135975    0
136156    0
136209    0
Name: Machine failure, Length: 255, dtype: int64), (4, 621       0
918       0
1798      0
1932      0
2048      0
         ..
134252    0
134558    0
134885    0
134963    0
136136    0
Name: Machine failure, Length: 313, dtype: int64), (5, 17        0
186       0
285       0
337       0
351       0
         ..
135489    0
135595    0
136031    0
136195    0
136329    0
Name: Machine failure, Length: 1419, dtype: int64), (6, 238       0
270       0
458       0
713       0
3121      0
         ..
134105    1
134257    0
135132    0
135617    0
136081    0
Name: Machine failure, Length: 244, dtype: int64), (7, 429       0
495       0
514       0
562       0
596       0
         ..
136089    0
136137    0
136259    0
136291    0
136318    0
Name: Machine failure, Length: 1342, dtype: int64), (8, 711       0
1176      0
1713      0
1903      0
2439      0
         ..
132245    0
132586    0
134808    0
135179    0
136401    0
Name: Machine failure, Length: 337, dtype: int64), (9, 46        0
57        0
198       0
294       0
373       0
         ..
136024    0
136090    0
136125    0
136145    0
136390    0
Name: Machine failure, Length: 1329, dtype: int64), (10, 105       0
694       0
787       0
1117      0
1203      0
         ..
132747    0
133204    0
133458    0
133930    0
134159    0
Name: Machine failure, Length: 492, dtype: int64), (11, 524       0
567       0
643       0
1910      0
2166      0
         ..
135041    0
135189    0
135685    0
135864    0
135910    0
Name: Machine failure, Length: 439, dtype: int64), (12, 251       0
264       0
293       0
744       0
806       0
         ..
135881    0
136072    0
136116    0
136142    0
136180    0
Name: Machine failure, Length: 785, dtype: int64), (13, 8         0
73        0
265       0
399       0
746       0
         ..
135967    0
136016    0
136057    0
136230    0
136367    0
Name: Machine failure, Length: 822, dtype: int64), (14, 43        0
434       0
499       0
638       0
1213      0
         ..
134835    0
135000    0
135944    0
136115    0
136403    0
Name: Machine failure, Length: 518, dtype: int64), (15, 163       0
214       0
252       0
406       0
527       0
         ..
135830    0
135912    0
135926    0
135978    0
136108    0
Name: Machine failure, Length: 1036, dtype: int64), (16, 124       0
281       0
1081      0
1325      0
1369      0
         ..
135646    0
135834    0
135841    0
136050    0
136097    0
Name: Machine failure, Length: 667, dtype: int64), (17, 171       0
382       0
389       0
504       0
529       0
         ..
135840    0
135849    0
135895    0
135970    0
136295    0
Name: Machine failure, Length: 1102, dtype: int64), (18, 121       0
150       0
221       0
559       0
636       0
         ..
134990    0
135470    0
135940    0
136199    0
136421    0
Name: Machine failure, Length: 699, dtype: int64), (19, 36        0
693       0
695       0
719       0
864       0
         ..
134804    0
134929    0
135299    0
135651    0
136060    0
Name: Machine failure, Length: 448, dtype: int64), (20, 49        0
131       0
228       1
578       0
697       0
         ..
135680    0
135858    0
135914    0
135961    0
136048    0
Name: Machine failure, Length: 772, dtype: int64), (21, 130       1
225       0
341       0
465       0
606       0
         ..
134919    0
135200    0
135326    0
135726    0
135796    0
Name: Machine failure, Length: 532, dtype: int64), (22, 209       0
611       0
1040      0
1813      0
2150      0
         ..
135127    0
135521    0
135642    0
136237    0
136388    0
Name: Machine failure, Length: 431, dtype: int64), (23, 22        0
53        0
460       0
558       0
680       0
         ..
136015    0
136052    0
136128    0
136229    0
136239    0
Name: Machine failure, Length: 921, dtype: int64), (24, 134       0
143       0
286       0
320       0
383       0
         ..
135832    0
135994    0
136096    0
136265    0
136274    0
Name: Machine failure, Length: 897, dtype: int64), (25, 2         0
63        0
106       0
157       0
200       0
         ..
135487    0
135677    0
136064    0
136170    0
136345    0
Name: Machine failure, Length: 584, dtype: int64), (26, 133       0
630       0
972       0
1127      0
1206      0
         ..
134774    0
135361    0
135440    0
135702    0
136405    0
Name: Machine failure, Length: 783, dtype: int64), (27, 21        0
48        0
151       0
678       0
691       0
         ..
135330    0
135405    0
135492    0
135613    0
136092    0
Name: Machine failure, Length: 595, dtype: int64), (28, 290       0
625       0
788       0
797       0
845       0
         ..
135842    0
136068    0
136120    0
136169    0
136353    0
Name: Machine failure, Length: 516, dtype: int64), (29, 466       0
793       0
1132      0
1200      0
1238      0
         ..
135074    0
135480    0
135647    0
136293    0
136334    0
Name: Machine failure, Length: 372, dtype: int64), (30, 90        0
531       0
720       0
830       0
908       0
         ..
133273    0
133688    0
134319    0
136058    0
136074    0
Name: Machine failure, Length: 494, dtype: int64), (31, 662       0
1697      0
1708      0
1846      0
2609      1
         ..
135346    0
135979    0
135995    0
136043    0
136324    0
Name: Machine failure, Length: 459, dtype: int64), (32, 84        0
1140      0
1343      0
1463      0
1897      0
         ..
135007    0
135426    0
135980    0
136235    0
136264    0
Name: Machine failure, Length: 436, dtype: int64), (33, 203       0
315       0
403       0
452       0
645       0
         ..
135469    0
135658    0
135665    0
136041    0
136351    0
Name: Machine failure, Length: 849, dtype: int64), (34, 4         0
136       0
142       0
325       0
448       0
         ..
134639    0
135101    0
135227    0
135731    0
136150    0
Name: Machine failure, Length: 403, dtype: int64), (35, 87        0
538       0
568       0
790       0
948       0
         ..
134323    0
134934    0
135619    0
136085    0
136402    0
Name: Machine failure, Length: 462, dtype: int64), (36, 129       0
432       0
731       0
1250      0
1409      0
         ..
135324    0
135397    0
135843    0
135989    0
136250    0
Name: Machine failure, Length: 284, dtype: int64), (37, 66        0
268       0
751       0
809       0
1049      0
         ..
135641    0
135968    0
135993    0
136118    0
136216    0
Name: Machine failure, Length: 763, dtype: int64), (38, 15        0
140       0
205       0
455       0
523       0
         ..
135353    0
135772    0
135799    0
135828    0
135894    0
Name: Machine failure, Length: 390, dtype: int64), (39, 388       0
409       0
415       0
831       0
979       0
         ..
134630    0
135192    0
135449    0
135491    0
135868    0
Name: Machine failure, Length: 523, dtype: int64), (40, 20        0
589       0
664       0
699       0
1276      0
         ..
135682    0
135697    0
136061    0
136205    0
136277    0
Name: Machine failure, Length: 516, dtype: int64), (41, 299       0
1208      0
1286      0
1319      0
1734      0
         ..
134898    0
135055    0
135278    0
135388    0
136249    0
Name: Machine failure, Length: 366, dtype: int64), (42, 395       0
555       0
1025      0
1262      0
2854      0
         ..
135352    0
135674    0
135919    0
136111    0
136427    0
Name: Machine failure, Length: 442, dtype: int64), (43, 192       0
256       0
899       0
1315      0
1331      0
         ..
135631    0
135985    0
136163    0
136176    0
136316    0
Name: Machine failure, Length: 504, dtype: int64), (44, 120       0
159       0
249       0
278       0
474       0
         ..
135122    0
135206    0
135277    0
135845    0
136397    0
Name: Machine failure, Length: 776, dtype: int64), (45, 188       0
416       0
789       0
800       0
1116      0
         ..
135031    0
135159    0
136112    0
136377    0
136387    0
Name: Machine failure, Length: 415, dtype: int64), (46, 104       0
291       0
375       0
586       0
1128      0
         ..
134729    0
134840    0
135972    0
136017    0
136110    0
Name: Machine failure, Length: 495, dtype: int64), (47, 78        0
396       0
651       0
786       0
1384      0
         ..
135409    0
135537    0
135851    0
136243    0
136383    0
Name: Machine failure, Length: 640, dtype: int64), (48, 248       0
366       0
461       0
505       0
1166      0
         ..
135423    0
135434    0
135512    0
135636    0
136124    0
Name: Machine failure, Length: 692, dtype: int64), (49, 335       0
679       0
836       0
1160      0
1199      0
         ..
136168    0
136203    0
136236    0
136381    0
136394    0
Name: Machine failure, Length: 802, dtype: int64), (50, 180       0
202       0
533       0
581       0
1020      0
         ..
135175    0
135431    0
135564    0
135735    0
136358    0
Name: Machine failure, Length: 528, dtype: int64), (51, 29        0
284       0
304       0
356       0
941       0
         ..
133996    0
134178    0
134250    0
134777    0
135151    0
Name: Machine failure, Length: 441, dtype: int64), (52, 116       0
631       0
850       0
2897      0
3028      0
         ..
135100    0
135123    0
135263    0
135293    0
135951    0
Name: Machine failure, Length: 444, dtype: int64), (53, 60        0
146       0
802       0
985       0
1033      0
         ..
134492    0
135229    0
135366    0
135962    0
136011    0
Name: Machine failure, Length: 495, dtype: int64), (54, 212       0
274       0
301       0
354       0
903       0
         ..
135566    0
135794    0
136010    0
136339    0
136422    0
Name: Machine failure, Length: 648, dtype: int64), (55, 234       0
879       0
1243      0
1393      0
1480      0
         ..
135932    0
136027    0
136127    0
136233    0
136368    0
Name: Machine failure, Length: 386, dtype: int64), (56, 135       0
241       0
855       0
1609      0
1636      0
         ..
134343    0
134398    0
134589    0
135098    0
135522    0
Name: Machine failure, Length: 415, dtype: int64), (57, 453       0
489       0
502       0
513       0
673       0
         ..
135627    0
135783    0
136132    0
136196    0
136364    0
Name: Machine failure, Length: 777, dtype: int64), (58, 484       0
883       0
895       0
911       0
1004      0
         ..
133440    0
133490    0
133640    0
134092    0
135121    0
Name: Machine failure, Length: 314, dtype: int64), (59, 100       0
125       0
257       0
259       0
272       0
         ..
136087    0
136212    0
136323    0
136357    0
136398    0
Name: Machine failure, Length: 1427, dtype: int64), (60, 424       0
556       0
1015      0
1046      0
1494      0
         ..
135164    0
135281    0
135295    0
135634    0
135807    0
Name: Machine failure, Length: 388, dtype: int64), (61, 441       0
702       0
1066      0
1543      0
1556      1
         ..
135990    0
136063    0
136095    0
136172    0
136418    0
Name: Machine failure, Length: 506, dtype: int64), (62, 213       0
260       1
364       0
447       0
988       0
         ..
133907    0
134309    0
135436    0
136126    0
136279    0
Name: Machine failure, Length: 486, dtype: int64), (63, 312       0
374       0
454       0
597       0
624       0
         ..
134793    0
134823    0
135261    0
135889    0
136062    0
Name: Machine failure, Length: 523, dtype: int64), (64, 68        0
98        0
190       0
258       0
470       0
         ..
135846    0
136079    0
136114    0
136313    0
136396    0
Name: Machine failure, Length: 1138, dtype: int64), (65, 5         0
267       0
423       0
1064      0
1329      0
         ..
135051    0
135506    0
135992    0
136122    0
136154    0
Name: Machine failure, Length: 413, dtype: int64), (66, 298       0
491       0
1416      0
1420      0
1860      0
         ..
134689    0
135012    0
135208    0
135377    0
136013    0
Name: Machine failure, Length: 506, dtype: int64), (67, 7         0
518       0
1202      0
1271      0
1298      0
         ..
134571    0
134608    1
134634    0
134884    0
135465    0
Name: Machine failure, Length: 390, dtype: int64), (68, 167       0
462       0
510       0
725       0
853       0
         ..
135246    0
135608    0
136139    0
136211    0
136400    0
Name: Machine failure, Length: 570, dtype: int64), (69, 701       0
707       0
1712      0
1833      1
2324      0
         ..
134728    0
134867    0
134914    0
135654    0
135760    0
Name: Machine failure, Length: 349, dtype: int64), (70, 62        0
117       0
674       0
1010      0
1177      0
         ..
135716    0
136009    0
136292    0
136308    0
136359    0
Name: Machine failure, Length: 598, dtype: int64), (71, 32        0
86        0
384       0
414       0
987       0
         ..
134528    0
134572    0
134700    0
135411    0
136174    0
Name: Machine failure, Length: 495, dtype: int64), (72, 16        0
1445      0
2129      0
2190      0
2332      0
         ..
135047    0
135314    0
135359    0
135392    0
135987    0
Name: Machine failure, Length: 446, dtype: int64), (73, 240       0
263       0
931       0
1024      0
1037      0
         ..
134223    0
134377    0
134581    0
135708    0
135952    0
Name: Machine failure, Length: 636, dtype: int64), (74, 344       0
747       0
1007      0
1109      0
1383      0
         ..
135672    0
135690    0
135957    1
136183    0
136320    0
Name: Machine failure, Length: 1054, dtype: int64), (75, 194       0
604       0
1418      0
2090      0
2205      0
         ..
134538    0
134910    0
135345    0
136130    0
136263    0
Name: Machine failure, Length: 330, dtype: int64), (76, 19        0
109       0
152       0
158       0
177       0
         ..
135806    0
135847    0
135936    0
136019    0
136059    0
Name: Machine failure, Length: 947, dtype: int64), (77, 72        0
170       0
1630      0
2743      0
2769      0
         ..
133788    0
133795    0
133839    0
134151    0
136360    0
Name: Machine failure, Length: 356, dtype: int64), (78, 817       0
829       0
943       0
1091      0
1118      0
         ..
134402    0
134454    0
134489    0
135770    0
135850    0
Name: Machine failure, Length: 412, dtype: int64), (79, 168       0
231       0
254       0
316       0
592       0
         ..
135415    0
135797    0
135897    0
136075    0
136290    0
Name: Machine failure, Length: 577, dtype: int64), (80, 71        0
540       0
566       0
1157      0
1212      0
         ..
135461    0
135963    0
136227    0
136330    0
136417    0
Name: Machine failure, Length: 498, dtype: int64), (81, 175       0
318       0
571       0
615       0
1067      0
         ..
135661    0
135723    0
135748    0
136153    0
136343    0
Name: Machine failure, Length: 421, dtype: int64), (82, 435       0
1054      0
1354      0
1439      0
1814      0
         ..
135620    0
135656    0
136201    0
136225    0
136307    0
Name: Machine failure, Length: 496, dtype: int64), (83, 39        0
132       0
955       0
1071      0
1467      0
         ..
133652    0
133906    0
134566    0
135125    0
135495    0
Name: Machine failure, Length: 504, dtype: int64), (84, 376       0
501       0
827       0
1332      0
1496      0
         ..
135552    0
135703    0
135925    0
136350    0
136420    0
Name: Machine failure, Length: 561, dtype: int64), (85, 765       0
934       0
958       0
961       0
968       0
         ..
135811    0
136071    0
136260    0
136262    0
136391    0
Name: Machine failure, Length: 795, dtype: int64), (86, 1569      0
1806      1
1831      0
1852      0
1877      0
         ..
134874    0
135056    0
135753    0
135983    0
136333    0
Name: Machine failure, Length: 393, dtype: int64), (87, 512       0
721       0
814       0
1069      0
1568      0
         ..
135389    0
135553    0
135755    0
135982    0
136399    0
Name: Machine failure, Length: 534, dtype: int64), (88, 118       0
803       0
1415      0
1510      0
1549      0
         ..
134735    0
135532    0
136255    0
136331    0
136389    0
Name: Machine failure, Length: 432, dtype: int64), (89, 33        0
195       0
445       0
494       0
511       0
         ..
134552    0
134962    0
135367    0
135573    0
136240    0
Name: Machine failure, Length: 424, dtype: int64), (90, 54        0
229       0
401       0
609       0
1144      0
         ..
134271    0
134614    0
135257    0
135818    0
136362    0
Name: Machine failure, Length: 443, dtype: int64), (91, 107       0
361       0
404       0
574       0
1283      0
         ..
134638    0
134725    0
135184    0
135275    0
135809    0
Name: Machine failure, Length: 577, dtype: int64), (92, 237       0
239       0
419       0
482       0
729       0
         ..
135696    0
135774    0
136200    0
136276    0
136314    0
Name: Machine failure, Length: 1125, dtype: int64), (93, 65        0
128       0
300       0
464       0
1406      0
         ..
134108    0
134109    0
134737    0
135399    0
135837    0
Name: Machine failure, Length: 339, dtype: int64), (94, 38        0
330       0
392       0
490       0
516       0
         ..
135945    0
136012    0
136217    0
136254    0
136404    0
Name: Machine failure, Length: 1099, dtype: int64), (95, 467       0
924       0
1147      0
1583      0
2529      0
         ..
135306    0
135453    0
135485    0
135648    0
135725    0
Name: Machine failure, Length: 460, dtype: int64), (96, 85        0
296       0
307       0
336       0
368       0
         ..
135534    0
135900    0
135955    0
136141    0
136315    0
Name: Machine failure, Length: 1191, dtype: int64), (97, 308       0
332       0
522       0
601       0
749       0
         ..
134494    0
135088    0
135285    0
135439    0
135450    0
Name: Machine failure, Length: 358, dtype: int64), (98, 9         0
89        0
99        0
114       0
233       0
         ..
136073    0
136098    0
136106    0
136247    0
136305    0
Name: Machine failure, Length: 1328, dtype: int64), (99, 61        0
338       0
676       0
2474      0
2780      0
         ..
133944    0
135396    0
135724    0
135853    0
136158    0
Name: Machine failure, Length: 328, dtype: int64), (100, 83        0
173       0
670       0
1155      0
1227      0
         ..
134839    0
134985    0
135580    0
135761    0
136416    0
Name: Machine failure, Length: 597, dtype: int64), ...)]

In [ ]:
pd.DataFrame(index=[df_train.groupby('Tool wear [min]')['Machine failure'].mean(),
                   df_train['Product ID'].unique()])

In [120]:
pd.DataFrame(index=[df_train.groupby('Tool wear [min]')['Machine failure'].mean(),
                   df_train['Product ID'].unique()])

ValueError: all arrays must be same length

In [24]:
df_train.head()

,id,Product ID,Type,Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF,Power [KW],Air temperature [C],Process temperature [C],Possbile_overheating,Temperature difference
0,0,L50096,0.016727,1596,36.1,140,0,0,0,0,0,0,57615.6,28.45,37.45,True,-9.0
1,1,M20343,0.013592,1759,29.1,200,0,0,0,0,0,0,51186.9,30.45,39.95,True,-9.5
2,2,L49454,0.016727,1805,26.5,25,0,0,0,0,0,0,47832.5,27.15,36.35,True,-9.2
3,3,L53355,0.016727,1524,44.3,197,0,0,0,0,0,0,67513.2,28.85,38.75,True,-9.9
4,4,M24050,0.013592,1641,35.4,34,0,0,0,0,0,0,58091.4,25.85,36.85,True,-11.0

##Pochwalić się Kacprowi ;3

In [48]:
pd.DataFrame(df_train.groupby('Tool wear [min]')['Machine failure'].mean()).describe()

       Machine failure
count       246.000000
mean          0.034653
std           0.085217
min           0.000000
25%           0.006726
50%           0.011525
75%           0.023674
max           1.000000

In [49]:
pd.DataFrame(df_train.groupby('Rotational speed [rpm]')['Machine failure'].mean()).describe()

       Machine failure
count       952.000000
mean          0.056718
std           0.168048
min           0.000000
25%           0.000000
50%           0.000000
75%           0.015444
max           1.000000